/* Common */
body {
    margin: 0;
    background: #22323d;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 980px;
    flex-direction: column;
    padding: 0 30px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Header */
header {
    display: flex;
    height: 120px;
    text-align: center;
    background: #081b23;
    justify-content: center;
    align-items: center;
}

header img {
    width: 60px;
    height: auto;
}

/* Sub Header */

#sub-header h3 {
    font-weight: normal;
    color: #a2a2a2;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}

#sub-header .description {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

#movie-search {
    max-width: 500px;
    margin: 30px auto 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    box-sizing: border-box;
    padding: 30px 20px;
    background: url(../img/search-ico.png) white no-repeat 95% center;
    background-size: auto 50%;
}

/* Toolbar */
#toolbar {
    margin: 30px 0;
    border-bottom: 1px solid #a2a2a2;
}
#toolbar h5 {
    font-size: 20px;
    margin: 0;
}
#toolbar p {
    color: #a2a2a2;
    font-size: 12px;
    margin: 0;
}

#filters select {
    float: right;
}

/* Movie item */

#movies-list {
    padding: 0;
}

.movie-item {
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 200px;
    background: #2a3a44;
}
.movie-item .movie-cover {
    position: relative;
    height: 100%;
}
.movie-cover .movie-rating {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(77, 171, 91, 0.8);
}
.movie-item .movie-cover img {
    height: 100%;
    width: auto;
}

.movie-item .movie-body {
    padding: 0 30px;
    width: 55%;
}

.movie-item .movie-description {
    font-size: 12px;
    line-height: 2em;
    color: #a2a2a2;
}

.movie-interactions {
    border-left: 1px solid #a2a2a2;
    display: flex;
    padding: 20px 0 20px 20px;
    align-items: center;
    justify-content: center;
}

.movie-interactions .add-to-favs {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 5px;
    background: #33434d;
    text-align: center;
    line-height: 3.4em;
    border: 2px solid #33434d;
    transition: border 0.3s;
}
.movie-interactions .add-to-favs:hover {
    border-color: #4dab61;
}

.movie-interactions .add-to-favs img {
    opacity: 0.5;
    width: 70%;
}

.movie-interactions .more-info {
    background: #4dab61;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    line-height: 3.4;
    padding: 0 20px;
    border-radius: 5px;
}
